*{
    font-family: 'Mitr', sans-serif;
    font-size: 40px;
}
.home-section .container{
    padding: 2% 4%;
    width: 100%;
    /*height: 100%;*/
}
.home-section .header-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem;
}
.home-section .header-content h1{
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    margin: 0.5rem 0;
}
.home-section .header-content .button-content{
    display: flex;
    gap: 12px;
    padding: 0 12px;
    flex-flow: row wrap;
}
.home-section .header-content i.bxs-user-detail{
    margin: 0 4px;
    vertical-align: -10%;
}
.home-section .header-content button{
    font-size: 20px;
    padding: 0.2rem 1.2rem;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.home-section .header-content button.plus{
    background-color: #4272d7;
}
.home-section .header-content button.print{
    background-color: #28a745;
}
.home-section .header-content button.plus:hover{
    background-color: #3b5998;
}
.home-section .header-content button.print:hover{
    background-color: #2F8041;
}
.home-section .display-tables{
    width: 100%;
    overflow-x:auto;
}
.home-section .display-tables label{
    font-family: 'Poppins', sans-serif;
    color: #333333;
    font-size: 16px;
}
.home-section .display-tables select{
    font-weight: 500;
    font-size: 18px;
    width: 4rem;
}
.home-section .display-tables table{
    border-radius: 20px 20px 0 0 ;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.home-section .display-tables table input[type="number"]{
    text-align: center;
    border: 3px solid ;
    border-radius: 6px;
    margin: 10px 0px 10px 0px;
}

.home-section .display-tables table th.before{
    border-radius: 20px 0 0 0;
}

.home-section .display-tables table th.after{
    border-radius: 0 20px 0 0;
}
.home-section .display-tables thead{
    background-color: #333333;
    color: #FFFFFF;
    font-size: 20px;
}
.home-section .display-tables thead tr th{
    font-weight: 500;
}
.home-section .display-tables tr th{
    padding: 0px 50px 0px 50px;
    font-weight: 400;
}
.home-section  th{
    white-space: nowrap;
    /*color: #fff;*/
    padding: 14px 5px 0;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}
.home-section  td{
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.home-section .display-tables table{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.home-section .display-tables table tr th._menu a{
    text-decoration: none;
    transition: all 0.6s ease;
    color: #333333;
    font-size: 18px;

}
.home-section .display-tables table tr th#header_edit{
    width: 6rem;
}
.home-section .display-tables table tr th#header_delete{
    width: 6rem;
}
.home-section .display-tables table tr th#delete a{
    color: #333333;
}
.home-section .display-tables table tr th#edit a:hover{
    font-size: 24px;
    color: blue;
}
.home-section .display-tables table tr th#delete a:hover{
    font-size: 24px;
    color: red;
}
.home-section .display-tables tr:nth-child(even){background-color: #f2f2f2;}
.home-section .display-tables tbody tr{
    transition: all 0.6s ease;
    cursor: pointer;
}
.home-section .display-tables tbody tr:hover{
    background-color: #58A8DD;
    font-size: 20px;
}
.home-section .display-tables table{
    margin-bottom: 1rem;
}
.home-section .alert {
    padding: 20px;
    background-color: #DBE8DE;
    font-weight: 500;
    color: white;
}

.home-section .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 28px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.home-section .closebtn:hover {
    color: black;
}
.btn {
    border: 2px solid black;
    background-color: white;
    padding-top: 3px;
    color: black;
    font-size: 16px;
    cursor: pointer;
     transition-duration: 0.4s;
  
  }
  /* Green */
  .delete {
    border-color: red;
    border-radius: 4px;
    color: red;
  }
  
  .delete:hover {
    background-color: red;
    color: white;
  }
  .save {
    border-color: green;
    border-radius: 4px;
    color: green;
  }
  
  .save:hover {
    background-color: green;
    color: white;
  }
  .edit {
    border-color: blue;
    border-radius: 4px;
    color: blue;
  }
  
  .edit:hover {
    background-color: blue;
    color: white;
  }
